body {
    background-color: black;
}
.box {
    position: fixed;
    right: 0px;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color:aqua;

}

.container {
    width: 100px;
    height: 200vh;
    background-color: red;
}


