

#paragraph-h2 {
    margin-left: 5%;
    margin-top: 9%;
    margin-right: 50%;
    font-size: 20px;
    color:white;
    
}

.sun1 {
    position: relative;
    margin-left: 65%;
    margin-top: -27%;
    margin-right: 5%;
    width: 600px;
    height: 600px; 

}

.sun2 {
    position: relative;
    margin-left: 65%;
    margin-bottom: 73%;
    margin-right: 5%;
    width: 600px;
    height: 600px; 
    

}

/* .sun3 {
    position:relative;
    margin-left: 5%;
    margin-top: 9%;
    margin-right: 50%;
    width: 600px;
    height: 600px; 
    
} idk why this image breaks my page */ 

.button1 {
    text-align: center;
}

#Asun {
    color:blue;
    text-align: center;
    font-size: 100px;
    margin-top: 7%;
}

#Osun {
    color: red;
    text-align: center;
    font-size: 100px;
    margin-top: 7%;
}

.button2 {
    text-align: center;
    margin-top:25%;
}

.loop-moon {
    width: 200px;
    height: 200px;
}

.footer {
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: fit-content;
    background-color: black;
    z-index: 10; 
    color: white;
    text-align: center;
}

